* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: magenta;
    text-indent: green;
    font-size: 30px;
    font-weight: darker;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.5px;

}